td.back{
        width:50%;
        color:white;
        background:red;
}
td.next{
        width:50%;
        color:white;
        background:blue;
        text-align:right;
}
img.thumbnail{
        vertical-align: top;
	border: inset 10px #ff0000;
}

